@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@300&display=swap');

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  //background: rgba(18, 18, 18, 0.8);
  background: #f1f1f1;

  font-family: 'Open Sans', sans-serif;
}

code {
  font-family: 'Oxygen', source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
